extends templates/layout

block content
    a(href='https://gulpjs.com/')
        img(src="img/logo.svg")
    h1 Source | Pug to HTML | SCSS to CSS | Optimize Images | JS ES6+ to ES5 | Minify | Browserify | Babelify | Uglifyify | Deploy | and More | Output
    h2 React with CRA + Others with Gulp + No Webpack = Peace of Mind
    a(href='https://github.com/jaeyp/practiceGulp')
        img.git(src="img/logo-github.svg")