extends templates/layout

block content
    img(src="img/logo.svg")
    h1 Gulp + Pug to HTML + Image file optimization + SCSS to CSS + JavaScript ES6+ to ES5 + Minify + Browserify + Babelify + Uglifyify + Deploy to Github Pages